footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.info p {
    color:white;
    margin: 0;
}
